<h1>title</h1>

<p>Hi <%= @user.full_name %>,</p>
<p>Don't forget to water your <%= @plant_name %> today!</p>
<p>Go into the app and let us know when it is done:</p>
<p>https://www.plantaqua.me/</p>

<p>Happy watering!</p>
<p>The Plantaqua™ team</p>
<div>
  <p>© Copyright 2023 Plantaqua™</p>
  <p>All rights reserved. Powered by Le Wagon.</p>
</div>
