.main-container {
  flex-grow: 1;
}

// headings
.header-top-forms {
  text-align: center;
  margin: 10% auto;
  font-family: 'Gilroy-Light';
  font-size: 40px;
  letter-spacing: 0.14em;
}
.header-top {
  text-align: center;
  margin: 10% auto;
  font-family: 'Gilroy-Light';
  font-size: 40px;
  letter-spacing: 0.14em;
  margin: 100px 10px 10px 10px;
}
