<h1 class = "header-top">Schedule</h1>
  <% current_user.plants_to_water.each do |garden_plant| %>
    <div class="swiper" data-controller="swiper" data-swiper-garden-plant-id-value=<%= garden_plant.id %>>
      <div class="swiper-wrapper">
        <div class="swiper-slide m-4" >
          <p><%= garden_plant_photo(garden_plant) %><%= garden_plant.name %></p>
        </div>
        <div class="swiper-slide">
        </div>
      </div>
    </div>
  <% end %>
