<!--div class="my-footer pt-2">
  <div class="footer-copyright">
    <p class = "mb-1">© Copyright 2023 Plantaqua™</p>
    <p class = "mb-2">All rights reserved. Powered by Le Wagon.</p>
  </div>
</div-->
