<div class = 'homepage-bottom'>
  <h1>Welcome to plantaqua</h1>
  <p>Don't have an account ? <%= link_to "Sign up", new_user_registration_path ,id: "signup" %></p>
  <%= link_to "Log in", new_user_session_path, class: "btns green-btn align-self-end" %>
</div>
