  <div data-search-plant-target="list">
    <% plants.each do |plant| %>
      <div class="card-plant">
        <%= link_to plant_path(plant) do %>
          <%= image_tag plant.image %>
        <% end %>
        <div class="card-info">
          <h2><%= plant.name %></h2>
          <p><%= plant.scientific_name %></p>
        </div>
      </div>
    <% end %>
  </div>
