  <div data-search-plant-target="list">
    <% plants.each do |plant| %>
      <div class="card-plant">
        <%= link_to plant_path(plant, garden_id: params[:garden_id]) do %>
          <%= image_tag plant.image %>
        <% end %>
        <h2 class="card-info"><%= plant.name %></h2>
      </div>
    <% end %>
  </div>
