<div class="card-plant-show">
  <img src=<%= @plant.image %> alt="plant image">
  <h2>Name: <%= @plant.name %></h2>
  <p><%= @plant.scientific_name %></p>

  <%# <p>Frequency: <%= @plant.frequency[:] </p>%>



</div>
