<div>
  <img src=<%= @plant.image %> alt="plant image">
  <h2>Name: <%= @plant.name %></h2>
  <p>Frequency: <%= @plant.frequency %></p>
  <p>Last watered <strong><%= @plant.last_day - Date.today%></strong> days ago</p>



</div>
