<div>

  <h2>Name: <%= @plant.name %></h2>
  <p>Frequency: <%= @plant.frequency %></p>
  <p>Last watered <strong><%= @plant.last_day - Date.today%></strong> days ago</p>

  <%= link_to 'Add plant', new_garden_garden_plant_path(@garden, plant_id: params[:id]), class: 'btns white-btn btn-big' %>



</div>
