<h1><%= @garden.name %></h1>
<p><%= @garden.location %></p>
<div class="d-flex">
  <%= link_to "Edit this garden", edit_garden_path(@garden), class: "gradient-btn" %>
  <%= button_to "Destroy this garden", @garden, method: :delete, class: "gradient-btn ms-4" %>
</div>
