<h1><%= @garden.name %></h1>
<p><%= @garden.location %></p>
<div class='d-flex'>
  <%= link_to 'Edit garden', edit_garden_path(@garden), class: 'btns white-btn' %>
  <%= button_to 'Destroy garden', @garden, method: :delete, class: 'btns white-btn ms-4' %>
</div>
