.alert {
  display: flex;
  position: fixed;
  height: fit-content;
  margin-top: 40%;
  align-items: center;
  justify-content: center;
  text-align:center;
  border-radius: 15px;
  padding: 40px 80px;
  margin:40vh 6vh;
  z-index: 1000;
  --bs-alert-color: #2A4439;
  --bs-alert-bg: #FFFEF4;
  --bs-alert-border-color: #FFFEF4;
  font-family: 'Gilroy-Bold';
  letter-spacing: 0.1rem;
}
