.btns {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  margin: 0;
  padding:10px 20px;
}

.green-btn {
  width: 170px;
	height: 44px;
  background-color: #2A4439;
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 25px;
  color: #F5F5F4;
}

.white-btn {
  width: 170px;
	height: 44px;
  background-color: #F5F5F4;
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 25px;
  color: #2A4439;
  // &:hover, &:focus {
  //   opacity: 0.75;
  // }
}
.white-btn-big {
  // width: 170px;
	// height: 44px;
  width: 200px;
  height: 52px;
  border-radius: 25px;
  background-color: #F5F5F4;
  color: #2A4439;
  font-size: 24px;
  font-family: 'Migha';
  align-self: end;
}

button, .btn-fix {
  border: none;
}
#trash {
  background-color: none;
}
