// cards wrapper
.card-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.card-index-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #2A4439;
  width: 100%;
  z-index: 99;
  color: #D4DAD7;
}
// gardens wrapper - white
.card-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height:75%;
  width: 100%;
  position: sticky;
  top: 25%;
  background-color: $polina-white;
  padding-bottom:40px;
  border-radius: 25px 25px 0px 0px;
  a {
    text-decoration: none;
  }
  .circular-btn {
    position: fixed;
    bottom: 28px;
    right: 28px;
    background-color:#2A4439;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 44px;
    height: 44px;
    padding:7px 12px 5px 12px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
  }
}

// garden
.card-garden {
  display: flex;
  color: #2A4439;
  background-color: $polina-white;
  border: 0.7px solid #2A4439;;
  border-radius: 25px;
  height: 160px;
  margin: 40px 40px 0 40px;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  img {
    height:100%;
    width: 120px;
    object-fit: cover;
    border-radius: 25px 0 0 25px;
  }

  .card-info {
    padding: 16px;
    width: 200px;

    h2 {
      font-family: 'Gilroy-Light', sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      margin: 0;
    }
  }
}

.card-add-garden-image {
  display: flex;
  background-image: linear-gradient(rgba(42, 68, 57, 0.5),rgba(42, 68, 57, 0.5)), url('https://f.site-cdn.net/ec4eed27c5/1200-800-social.jpg');
  background-size: cover;
  background-position: center;
  height: 148px;
  width: 120px;
  border-radius: 25px 0 0 25px;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  i {
    font-size: 64px;
    color: $polina-white;
  }
}


// garden show main
.garden-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: $background-green;
  width: 100%;
  z-index: 99;
  color: #D4DAD7;

}

// plants wrapper
.card-garden-plant {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  a {
    text-decoration: none;
    color: #2A4439;
  }
}

// plant
.card-user-plant {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
  width: 105px;
  margin: 5px 8px 15px 8px;
  padding: 5px;
  border-radius: 5px;
  background-color: $polina-white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
  svg {
    height: 50%;
    width: 90px;
  }

  .plant-details {
    z-index: 1;
  }

  img {
    height: 85px;
    width: 85px;
    margin: 5px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  p {
    margin: 0 5px;
    font-size: 15px;
    z-index: 10;

  }

  .water {
    position: absolute;
    bottom: 8px;
    left: 8px;
    p {
      font-size: 12px;
    }
  }
}

.bottom-buttons {
  display: flex;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0;

  .btns {
    width: 90px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-left: 10px;
  }

  .btn-big {
    width: 124px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    margin-right: 40px;
  }
}


// search page
.card-plant {
  display: flex;
  color: #2A4439;
  background-color: #F5f4f4;
  // border: 0.7px solid black;
  border-radius: 5px;
  height: 120px;
  margin: 40px 40px 0 40px;
  align-items: center;

  h2 {
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  p {
    font-size: 12px;
  }

  img {
    z-index: 0;
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
  }

  .card-info {
    padding: 20px;
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
}

.card-plant-show {
  position: relative;
  width: 100%;
  height: 100%;
}
.card-plant-show-top {
  display: flex;
  position:relative;
  width: 100%;
  height: 55%;
  img {
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 1;
    width: 51%;
    height: 61%;
    object-fit: cover;
  }
  .white-border-card {
    display: block;
    position: absolute;
    top: 26%;
    left: 11%;
    width: 49%;
    height: 60%;
    object-fit: cover;
    border:1px solid $polina-white;
  }
}
.card-plant-show-bottom {
  display: flex;
  flex-direction: column;
  position:absolute;
  bottom: 0;
  align-items: start;
  justify-content:flex-start;
  height: 45%;
  width: 100%;
  padding: 0 31px 60px 31px;
  h1 {
    font-size: 40px;
  }
  h5 p{
    font-size: 16px;
    color: #ffffff;
  }
}

#card-add-plant-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85px;
  width: 85px;
  margin: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-image: linear-gradient(rgba(245, 245, 244, 0.3),rgba(245, 245, 244, 0.3)), url('https://i.pinimg.com/originals/44/d1/ef/44d1efed2e3e5b3a9d1f0d1537a1ec64.png');
  background-size: cover;
  justify-content: center;
  i {
    font-size: 40px;
    color: $polina-white;
  }
}
#edit-garden-icon {
  position: absolute;
  font-size: 20px;
  bottom: 16px;
  right: -36px;
}
