// cards wrapper
.card-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

// gardens wrapper - white
.card-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 640px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $polina-white;
  border-radius: 25px 25px 0px 0px;

  .green-btn {
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 44px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  a {
    text-decoration: none;
  }
}

// garden
.card-garden {
  display: flex;
  color: black;
  background-color: $polina-white;
  border: 0.7px solid black;
  border-radius: 25px;
  height: 160px;
  margin: 40px 40px 0 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  img {
    height:100%;
    width: 120px;
    object-fit: cover;
    border-radius: 25px 0 0 25px;
  }

  .card-info {
    padding: 16px;
    width: 200px;

    h2 {
      font-family: 'Gilroy-Light', sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      margin: 0;
    }
  }
}


// garden show main
.garden-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: $background-green;
  width: 100%;
}

// plants wrapper
.card-garden-plant {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
  height: 100%;

  a {
    text-decoration: none;
    color: black;
  }
}

// plant
.card-user-plant {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160px;
  width: 105px;
  margin: 5px 5px 15px 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: $polina-white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  img {
    height: 85px;
    width: 85px;
    margin: 5px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  p {
    margin: 0 5px;
  }
}

.bottom-buttons {
  display: flex;
  margin-bottom: 10px;

}
