//gardens-index
.card-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height:75%;
  width: 100%;
  top: 25%;
  padding-bottom:40px;
  a {
    text-decoration: none;
  }
  .circular-btn {
    position: fixed;
    bottom: 32px;
    right: 32px;
    background-color:#2A4439;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 48px;
    height: 48px;
    padding:10px 10px 5px 14px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
  }
  p {
    color: $polina-white;
  }
}
.black-text-box {
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
  align-items: center;

  .black-text {
    color: #2a443955 !important;
    font-size: 28px !important;
  }
}

.location {
  overflow: hidden;
  white-space: nowrap;
}


.card-garden {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("https://e0.pxfuel.com/wallpapers/236/153/desktop-wallpaper-leaves-plant-green-dark-for-your-mobile-tablet-explore-plant-tropical-plant-plant-vs-zombies-jimmy-page-dark-leaves-aesthetic.jpg");
  border: 0.7px solid #2A4439;
  border-radius: 25px;
  height: 160px;
  width: 342px;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  // .watering
  .card-white-bottom {
      display: flex;
      flex-direction: column;
      border-radius: 25px 0 0 0;
      width: 60%;
      height: 30px;
      background-color: #D4DAD7;
      color:#2A4439;
      border:0.5px solid #2A4439;
    h2 {
      font-family: 'Gilroy-Light', sans-serif;
      font-size: 20px;
      font-weight: bold;
      padding: 4px 0 0 0;
    }
  }

  // .name
  .card-green-bottom {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 25px 25px;
    width:100%;
    height: 30px;

    background-color:#2A4439;
    font-size: 16px;
    overflow: hidden;
    .card-green-bottom-icons {
      display: flex;
    }
  }
}


// not used
.card-user-garden-bottom {
  border-radius: 0 0 25px 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
p {
  margin: 0;
}









// cards wrapper
.card-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.card-index-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #2A4439;
  width: 100%;
  z-index: 99;
  color: #D4DAD7;
}


// garden
.card-add-garden-image {
  display: flex;
  background-image: linear-gradient(rgba(42, 68, 57, 0.5),rgba(42, 68, 57, 0.5)), url('https://f.site-cdn.net/ec4eed27c5/1200-800-social.jpg');
  background-size: cover;
  background-position: center;
  height: 148px;
  width: 120px;
  border-radius: 25px 0 0 25px;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  i {
    font-size: 64px;
    color: $polina-white;
  }
}


// garden show main
.garden-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: $polina-white;
  width: 100%;
  height: 204px;
  z-index: 99;
  color: #2A4439;
  .header-top {
    width: 100%;
    padding:100px 30px 10px 30px;
    margin: 0;
  }
}

.garden-main-green {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color:#2A4439;
  width: 100%;
  z-index: 99;
  color: $polina-white;
  .header-top {
    width: 100%;
    padding:100px 30px 10px 30px;
    margin: 0;
  }
}

.garden-main-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding:0 30px;
  align-items: start;
  p {
    font-size:20px;
  }
}

// plants wrapper
.card-garden-plant {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px;
  width: 100%;
  height: 100%;
  margin: auto;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

// plant
.card-user-plant {
  display: flex;
  align-items: end;
  background-size: cover;
  background-position: center;
  height: 239px;
  width: 155px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card-user-plant-bottom {
  border-radius: 0 0 25px 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  p {
    margin: 0;
  }
  .name {
    display:inline-block;
    font-size: 20px;
    width:100%;
    background-color:#2A4439;
    border-radius: 0 0 25px 25px;
    height: 30px;
    overflow: hidden;
  }
  .watering {
    font-size: 14px;
    border-radius: 25px 0 0 0;
    width: 60%;
    height: 38%;
    background-color: #D4DAD7;
    color:#2A4439;
    font-weight: bold;
    border:0.5px solid #2A4439;
  }
}

.bottom-buttons {
  display: flex;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0;

  .btns {
    width: 90px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-left: 10px;
  }

  .btn-big {
    width: 124px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    margin-right: 40px;
  }
}


// search page
.garden-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-bottom: 20px;
  position: fixed;
  top: 0;
  background-color: #2A4439;;
  width: 100%;
  z-index: 99;
  color: #2A4439;
  .header-top {
    width: 100%;
    padding:100px 30px 10px 30px;
    margin: 0;
  }
}

.card-plant {
  display: flex;
  color: #2A4439;
  background-color: #F5f4f4;
  // border: 0.7px solid black;
  border-radius: 25px;
  height: 120px;
  margin: 40px 40px 0 40px;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  h2 {
    font-family: 'Gilroy-Light', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
  }

  p {
    font-size: 12px;
    color: gray;
  }

  img {
    z-index: 0;
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 25px 0 0 25px;
  }

  .card-info {
    padding: 16px;
    height:100%;
    font-family: 'Gilroy-Light', sans-serif;
    font-weight: bold;
  }
}

.card-plant-show {
  position: relative;
  width: 100%;
  height: 100%;
}
.card-plant-show-top {
  display: flex;
  position:relative;
  width: 100%;
  height: 55%;
  img {
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 1;
    width: 51%;
    height: 61%;
    object-fit: cover;
  }
  .white-border-card {
    display: block;
    position: absolute;
    top: 26%;
    left: 11%;
    width: 49%;
    height: 60%;
    object-fit: cover;
    border:1px solid $polina-white;
  }
}
.card-plant-show-bottom {
  display: flex;
  flex-direction: column;
  position:absolute;
  bottom: 0;
  align-items: start;
  justify-content:flex-start;
  height: 45%;
  width: 100%;
  padding: 0 31px 60px 31px;
  h1 {
    font-size: 40px;
  }
  h5 p{
    font-size: 16px;
    color: #ffffff;
  }
}

#edit-garden-icon {
  color:#2A4439;
  font-size: 20px;
}
