.chatroom {
  background: $polina-white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
    background: $polina-white;
    color: #2A4439;
  }

  .messages {
    height: 100vh;
    overflow: scroll;
    padding: 1rem;
    background: $polina-white;
    color: #2A4439;
  }

  .form-group {
    margin-bottom: 0;
  }
}
.send-bar {
  position: fixed;
  bottom: 0;
  padding:0 16px;
}
.message {
  padding: 10px;
  width: 80%;
  background-color:#D4DAD7;
  height:fit-content;
}
.content {
  display: flex;
  width: 200px;
  flex-direction: column;
  flex-wrap: wrap;
}
