.form-on-green {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  margin: auto;
  align-items: center;
  justify-content: center;
  .form-check-input:checked {
    border-color: #ffffff;
    background-color:#2A4439;
  }
  .user_password {
    .form-text {
      margin-bottom:0;
    }
  }
  .form-inputs {
    font-family: 'Gilroy-Light';
    letter-spacing: 0.14em;
    input, select {
      background-color: #f5f5f4;
      border-radius: 4px;
      color: #2A4439;
    }
    label {
      text-decoration: none;
      color: #FFFEF4;
      margin-bottom: 0;
    }
    .form-actions {
      margin: 0 auto;
      letter-spacing: 0.14em;
    }
  }
  .addafriend {
    abbr {
      display: none;
    }
  }
}
.form-on-white {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  margin: auto;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
    color: #2A4439;
    text-align: center;
  }

  .form-inputs {
    font-family: 'Gilroy-Light';
    letter-spacing: 0.14em;

    input, select {
      background-color: #f5f5f4;
      border-color: #2A4439;
      color: #2A4439;
    }
    label {
      text-decoration: none;
      color: #2A4439;
      margin-bottom: 0;
    }
    .form-actions {
      margin:0  auto;
      letter-spacing: 0.14em;
    }
  }
}
.simple_form {
  .form-control.is-valid:focus {
    border-color: #2A4439;
    box-shadow: none;
  }
  .was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
    color: #2A4439;
  }
  .was-validated .form-control:valid, .form-control.is-valid, .form-select.is-valid{
    border-color: #2A4439;
    background-image: none;
  }
  .form-select.is-valid:not([multiple]):not([size]) {
    background-image: none;
  }
  .was-validated .form-check-input:valid:checked, .form-check-input.is-valid:checked {
    background-color: #2A4439;
  }
}

.form-extra-divs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
