.navbar-plantaqua {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 30px;
  z-index: 100;
  h1 {
    margin: 0;
  }
  position: fixed;
  top: 0;
}
.menu-visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 25%;
  height: 296px;
  top: 0;
  right: 0;
  background-color: #D4DAD7;
  border-radius: 25px;
  border-top-right-radius: 0;
  animation-name: down;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;

  h1{
    color: #2A4439;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin:90px auto;
    text-align: center;
  }
  li {
    padding:10px 0;
    // letter-spacing: 0.1rem;
    animation-name: text;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    color: #2A4439 !important;
    a {
      text-decoration: none;
      letter-spacing: 0.1rem;
      color: #2A4439 !important;
    }
  }
}
.visible-icon {
  color: #2A4439;
  z-index: 3;
  padding-right: 6px;
}

@keyframes down {
  from {
    height: 74px;
  }
  to {
    height: 296px;
  }
}
@keyframes text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
