
.swiper-slide img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 8px;
  }

.swipe-card {
  border-radius: 25px;
  background-color: $polina-white;
  opacity: 0.65;
  // border:1px solid $polina-white ;
  align-items: center;
  width: 85%;
  margin-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #2A4439;
}

.swiper-slide p {
  font-size: 14px;
  color: #2A4439;
  font-weight: 600;
}

.swipe-p {
  text-align: center;
}
